:root {
    --main-color: #10cab7;
    --atl-color: #2c4755;
    --background-color: #f6f6f6;
    --main-duration: 0.4s;
    --main-padding: 60px;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans", "sans-serif";
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 60px;
}

header nav {
    position: relative;
}

header .burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    height: 21px;
}

.burger div {
    background-color: var(--atl-color);
    width: 100%;
    height: 2px;
}

.burger div:nth-child(2) {
    width: 70%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

nav:hover .burger div:nth-child(2) {
    width: 100%;
}

header menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    width: 200px;
}

header menu::before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #f6f6f6;
    top: -20px;
    right: 5px;
}

header nav:hover menu {
    display: block;
}

header menu li {
    padding: 5px;
    padding-left: 0;
}

header menu li:not(:last-child) {
    border-bottom: 1px #ddd solid;
}

header menu a {
    display: block;
    text-decoration: none;
    color: #333;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

header menu a:hover {
    padding-left: 30px;
}

/* end header */

/* the landing start */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
}

.landing>.container {
    text-align: center;
}

.landing h1 {
    color: var(--main-color);
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.landing p {
    font-size: 20px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    width: 30ch;
}

/* the landing end */
/* the features start */
.features {
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.feat {
    text-align: center;
    padding: 20px;
}

.feat>i {
    color: var(--main-color);
}

.feat>h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feat>p {
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}

/* the features end */
/*  the Services start */
.services {
    padding: var(--main-padding) 0;
}

.sec-head {
    text-align: center;
}

.sec-head h2 {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.sec-head p {
    color: #797979;
    font-size: 20px;
    margin: -30px 0 0;
}

.services .sec-main {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.serv {
    display: flex;
    margin-bottom: 40px;
}

.serv i {
    flex-basis: 60px;
    font-size: 2em;
    color: var(--main-color);
}

.serv .text {
    flex: 1;
}

.text h3 {
    margin-top: 0;
}

.text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.col img {
    width: 260px;
}

.col figure {
    position: relative;
    margin: 0;
    text-align: center;
}

.col figure::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--atl-color);
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
}

@media (max-width: 1199px) {
    .col figure {
        display: none;
    }

    .services .sec-main {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 30px;
    }
}

@media (max-width: 991px) {

    .services .sec-main {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
}

@media (max-width: 676px) {

    .serv {
        flex-direction: column;
        align-items: center;
    }

    .serv .text {
        text-align: center;
    }

}

/*  the Services end */
/* the Portfolio start */
.portfolio {
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
}

.portfolio .sec-main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
}

.card img {
    width: 100%;
}

.card .card-text {
    padding: 20px;
}

.card-text h3 {
    margin: 0;
}

.card-text p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* the Portfolio end */
/* the About start */
.about {
    padding: var(--main-padding) 0;
    padding-bottom: 120px;
}

.about .sec-main {
    padding-top: var(--main-padding);
    display: grid;
    grid-template-columns: 500px minmax(300px, 2fr);
    gap: 50px;
    align-items: center;
}

.about .sec-main h4 {
    line-height: 2;
    margin-bottom: 50px;
}

.about .sec-main hr {
    display: inline-block;
    border: none;
    background-color: var(--main-color);
    height: 1.5px;
    width: 50%;
}

.about .sec-main p {
    color: #777;
    line-height: 2;
}

.about-pic img {
    width: 250px;
    position: relative;
    width: 250px;
    left: 50px;
    top: 40px;
}

.about-pic {
    position: relative;
}

.about-pic::after {
    content: "";
    height: calc(100% - 80px);
    width: 120px;
    border-bottom: solid 80px var(--main-color);
    border-left: solid 80px var(--main-color);
    position: absolute;
    z-index: -1;
}

.about-pic::before {
    content: "";
    z-index: -1;
    left: 0;
    height: calc(100% + 80px);
    width: 100px;
    border-left: solid 100px #ebeced;
    position: absolute;
}

@media (max-width:991px) {
    .about .sec-main {
        grid-template-columns: minmax(300px, 2fr);
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .about-pic::after,
    .about-pic::before {
        display: none;
    }

    .about .sec-main article {
        text-align: center;
    }

    .about-pic>img {
        left: 0;
        top: 30px;
    }
}

/* the About end */
/* the Contact start */
.contact {
    padding: var(--main-padding) 0;
    background-color: var(--background-color);
}

.info {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
}

.info h2 {
    color: var(--atl-color);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.info a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
}

.info i {
    color: var(--atl-color);
    margin-left: 5px;
}

/* the Contact end */
/* the footer start */
footer {
    background-color: var(--atl-color);
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: white;
}

footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* the footer end */